<ion-header>
  <ion-toolbar>
    <ion-title>Info</ion-title>
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>
</ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">

    <img src="https://www.seekpng.com/png/detail/84-848524_groceries-cartoon-png.png">
    
    <ion-card-content style="font-size: 18px;">
      MyGrocery is one of the mobile application that provides for the residents in Putrajaya to buy 
      things at Pasar Presint 8.
    </ion-card-content>

  </ion-card>

  <ion-footer>

    <ion-card-content>

      <ion-card-title>
        Contact Us!
      </ion-card-title>

      <ion-note color="primary"> +0123456789 </ion-note>
    </ion-card-content>
  </ion-footer>
</ion-content>

