<ion-header>
  <ion-toolbar>
    <ion-title>Rewards and Coupons</ion-title>
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

      <ion-row>
      <ion-segment [(ngModel)]="selectTabs">
        <ion-slides [options]="slideOpts">
        <ion-slide>
        <ion-segment-button value="0">
          <ion-label> Ayam </ion-label>
        </ion-segment-button>
        </ion-slide>
        
        <ion-slide>
        <ion-segment-button value="1">
          <ion-label> Daging </ion-label>
        </ion-segment-button>
        </ion-slide>

        <ion-slide>
        <ion-segment-button value="2">
          <ion-label> Seafood </ion-label>
        </ion-segment-button>
       </ion-slide>

       <ion-slide>
        <ion-segment-button value="3">
          <ion-label>Vegetables</ion-label>
        </ion-segment-button>
    </ion-slide>
    </ion-slides>
</ion-segment>


</ion-row>

 <div *ngIf="selectTabs == '0'">
  <div *ngFor="let p of products | async">
      <ion-card color="light" *ngIf="p.id == 1">
          <ion-card-header>
              <img src="assets/icon/ayam.jpg" class="image"> <!--image path sets different product image for each product id-->
              <ion-card-title>{{p.name}}</ion-card-title>
              <ion-card-subtitle>Description:{{p.description}}</ion-card-subtitle>
              <ion-card-subtitle>Price: RM{{p.price}}</ion-card-subtitle>
              <ion-button expand="full" shape="round" (click)="addToCart(p)">
                  Add to Cart
              </ion-button>
          </ion-card-header>
      </ion-card>
  </div>
  
  <div *ngFor="let p of products | async">
      <ion-card color="light" *ngIf="p.id == 2">
          <ion-card-header>
              <img src="assets/icon/ayam1.jpg" class="image"> <!--image path sets different product image for each product id-->
              <ion-card-title>{{p.name}}</ion-card-title>
              <ion-card-subtitle>Description:{{p.description}}</ion-card-subtitle>
              <ion-card-subtitle>Price: RM{{p.price}}</ion-card-subtitle>
              <ion-button expand="full" shape="round" (click)="addToCart(p)">
                  Add to Cart
              </ion-button>
          </ion-card-header>
      </ion-card>
</div>
 </div>

<div *ngIf="selectTabs == '1'">
  
  
</div>

<div *ngIf="selectTabs == '2'">
  

</div>

<div *ngIf="selectTabs == '3'">
  

</div>



</ion-content>
