<ion-header>
  <ion-toolbar>
    <ion-title>Rewards and Coupons</ion-title>
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-content>
      <ion-button expand="block" class="main-button">Rewards</ion-button>
      <!-- <div class="item-img">
        <img src='../../assets/icon/ayam10.jpg' />
      </div> -->

      <div class="item-info">
        <h1>Free Chicken for one-off payment with PayPal</h1>
        <p>Please show this code to the shop owner for free chicken</p>
        <p>ZXC567C</p>
        
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-content>
      <ion-button expand="block" class="main-button">Coupons</ion-button>
      <!-- <div class="item-img">
        <img src='../../assets/icon/ayam10.jpg' />
      </div> -->

      <div class="item-info">
        <h1>One-time register code: C345SGH</h1>
        <h1>Coupon code: AB1234C</h1>
        <h1>Coupon code: CD3342E</h1>
        
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
