<ion-header>
  <ion-toolbar>
    <ion-title>My Cart</ion-title>
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-end">
    <ion-button (click)="close()" fill="clear" color="danger"> 
      <ion-icon name="close" slot="start"></ion-icon> 
    </ion-button>
  </div>

<div class="ion-padding">

    <ion-list>
      <ion-item *ngFor="let p of cart" class="ion-text-wrap">
        <ion-grid>
          <ion-row class="ion-allign-items-center">
            <ion-col size="2" class="ion-allign-self-center">
                <ion-button *ngIf="cart.length > 0" fill="clear" (click)="remove(p)">
                    <ion-icon name="remove"></ion-icon> 
                </ion-button>
            </ion-col>
            <ion-col size="1" class="ion-allign-self-center">
              {{ p.count }}
            </ion-col>
            <ion-col size="2" class="ion-allign-self-center">
                <ion-button fill="clear" (click)="addToCart(p)">
                    <ion-icon name="add"></ion-icon>
                </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9">
              <b>{{ p.name }} </b>
            </ion-col>
            <ion-col size="3" class="ion-text-end">
              {{ p.count * p.price | currency:'RM' }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-list>
    <ion-item>
            Total: <span slot="end">{{ total | currency: 'RM':'symbol' }}</span>
    </ion-item>
  </ion-list>

</div>
</ion-content>
