<ion-header>
  <ion-toolbar>
    <ion-title>My Orders</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="order-items">
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/icon/ayam1.jpg'/>
        </div>

        <div class="item-info">
          <p>Ayam kampung</p>
          <p>1.5 kg - 1.7kg</p>
          <p>RM20.00</p>
          <ion-button expand="block" class="main-button" >Order Again</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/icon/ayam10.jpg' />
        </div>

        <div class="item-info">
          <p>Chicken neck</p>
          <p>1kg</p>
          <p>RM7.00</p>
          <ion-button expand="block" class="main-button">Order Again</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/icon/bawangK.jpg' />
        </div>

        <div class="item-info">
          <p>Bawang</p>
          <p>500g</p>
          <p>$30.00</p>

          <ion-button expand="block" class="main-button">Order Again</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/icon/pohc.jpg' />
        </div>

        <div class="item-info">
          <p>Poh Choy</p>
          <p>200g</p>
          <p>RM6.90</p>

          <ion-button expand="block" class="main-button">Order Again</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/icon/ikan-patin.jpg' />
        </div>

        <div class="item-info">
          <p>Ikan Patin</p>
          <p>Seekor</p>
          <p>RM15.00</p>

          <ion-button expand="block" class="main-button">Order Again</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

