<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Main Menu</ion-title>
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/user-type']">
      <ion-badge></ion-badge>
          <ion-icon name="home-outline" slot="icon-only" ></ion-icon>
        </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="selectTabs">
    
    <ion-segment-button value="0">
      <ion-label> Main </ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="1">
      <ion-label> Products </ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="2">
      <ion-label> Orders </ion-label>
    </ion-segment-button>
    
  </ion-segment>

  <div [hidden] = "selectTabs != '0'">

  <div class="chart-container">

    <ion-label><strong>Monthly Sales Record %</strong></ion-label>
    <canvas style="height:20vh; width:60vw" id= "grocery-chart"></canvas>
   
    <ion-label><strong>Total of Product Sale %</strong></ion-label>
    <canvas style="height:20vh; width:60vw" id= "sales-chart"></canvas>

     </div>
  </div>


     <div [hidden] = "selectTabs != '1'">

     <ion-card color="secondary">
      <ion-card-header>
          <ion-card-title style="text-align: center;">Product List</ion-card-title>
          <ion-card-subtitle style="text-align: center;">171</ion-card-subtitle>
      </ion-card-header>
  </ion-card>
  
  <ion-item *ngFor="let p of products | async">
        <ion-label>
          <h2>{{ p.name }}</h2>
          <p>Price: {{ p.price }}</p>
        </ion-label>
  
      </ion-item>

  </div>

  <div [hidden]="selectTabs != '2'">
    <div class="card">
      <img src="assets/icon/ayam9.jpg" class="image" alt="Chicken Neck" style="width:50%">
      <h1>Chicken Neck</h1>
      <p class="price">RM20.00</p>
      <p>1.5kg - 1.7kg</p>
      <p>In Stock: 20 </p>
      <p>
        <ion-button expand="full" (click)="updateStock()">
          Update Stock
        </ion-button>
      </p>
    </div>
    <div class="card">
      <img src="assets/icon/ayam1.jpg" class="image" alt="Ayam Kampubg" style="width:50%">
      <h1>Ayam Kampung</h1>
      <p class="price">RM20.00</p>
      <p>1.5kg - 1.7kg</p>
      <p>In Stock: 20 </p>
      <p>
        <ion-button expand="full" (click)="updateStock()">
          Update Stock
        </ion-button>
      </p>
    </div>
    <div class="card">
      <img src="assets/icon/bawangM.jpg" class="image" alt="Ayam Segar" style="width:50%">
      <h1>Bawang Merah</h1>
      <p class="price">RM8.00</p>
      <p>1 kg</p>
      <p>In Stock: 20 </p>
      <p>
        <ion-button expand="full" (click)="updateStock()">
          Update Stock
        </ion-button>
      </p>
    </div>
  </div>
</ion-content>