<ion-header>
  <ion-toolbar>
    <ion-title>Main Menu</ion-title>
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="selectTabs">
    
    <ion-segment-button value="0">
      <ion-label> Main </ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="1">
      <ion-label> Products </ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="2">
      <ion-label> Orders </ion-label>
    </ion-segment-button>
    
  </ion-segment>

  <div [hidden] = "selectTabs != '0'">

  <div class="chart-container">

    <ion-label><strong>Monthly Sales Record %</strong></ion-label>
    <canvas style="height:20vh; width:60vw" id= "grocery-chart"></canvas>
   
    <ion-label><strong>Total of Product Sale %</strong></ion-label>
    <canvas style="height:20vh; width:60vw" id= "sales-chart"></canvas>

     </div>
  </div>


     <div [hidden] = "selectTabs != '1'">

     <ion-card color="secondary">
      <ion-card-header>
          <ion-card-title style="text-align: center;">Product List</ion-card-title>
          <ion-card-subtitle style="text-align: center;">171</ion-card-subtitle>
      </ion-card-header>
  </ion-card>
  
  <ion-item *ngFor="let p of products | async">
        <ion-label>
          <h2>{{ p.name }}</h2>
          <p>Price: {{ p.price }}</p>
        </ion-label>
  
      </ion-item>

     </div>

     <div [hidden] = "selectTabs != '2'">

     </div>
      

</ion-content>