<ion-header>
  <ion-toolbar>
    <ion-title>Feedback</ion-title>
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item lines="full" (click)="appRating()">
    <ion-icon name="star-half" slot="start" color="danger"></ion-icon>
    Rate Us
  </ion-item>

  <div class="rating">
    <div class="stars">
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
    </div>
  </div>

</ion-content>