<ion-header>
  <ion-toolbar>
    <ion-title>Feedback</ion-title>
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div text-center style= "padding-bottom: 15px">
    <ion-icon name="star-half" slot="start" color="danger"></ion-icon>
    <ion-label>Rate Us</ion-label>
 </div>

 
    <ion-fab vertical="center" horizontal= "center" slot= "fixed">
      <ion-fab-button>
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button click()= "dope()" color= "secondary"><ion-icon name="thumbs-up"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button click()= "nope()" color= "danger"><ion-icon name="thumbs-down"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>

</ion-content>