<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Update Stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div class="length range__slider" data-min="1" data-max="100">
		<div class="length__title field-title" data-length='0'>Stock:</div>
		<input id="slider" type="range" min="1" max="100" value="20"/>
  </div> -->
  <ion-input type="number" value="20"></ion-input>
    
    
    <ion-button expand="full" (click)="stockUpdated()">
      Confirm
    </ion-button>

</ion-content>
