<ion-header>
  <ion-toolbar>
    <img src= "https://www.logodesign.net/logo/grocery-in-cart-included-with-stars-6045ld.png?size=2&industry=grocery-shop" class="center">
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <span class="already">Sign In as a</span>
        <ion-button [routerLink]="['/login-seller']" expand="block" color="primary">Seller</ion-button>

        <span class="divider line one-line">or</span>

       

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Customer</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>