ion-toolbar {
  text-align: center;
} // centers toolbar on screen

ion-badge {
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 100%;
}
ion-card {
    display: inline-block;
    height: 290px;
    width: 100%;
    margin: 10px auto;
    box-shadow: 0 0 2px rgb(51, 48, 48);

    ion-card-title {
      font-size: 18px;
    }
  
  ion-card-subtitle {
    font-size: 14px;
    text-align: center;
  }
    
    ion-icon {
    
      font-size: 30px;
    }
  }    

 .image {
  border: 1px solid #0742e5;
  border-radius: 50%;
  box-shadow: 0 0 2px #000;
  height: 100%;
  width: 100%;
  
  } 

.cart-icon {
  font-size: 50px;
} //sets size of font within cart

