ion-toolbar {
  text-align: center;
} // centers toolbar on screen

.horizontal-cards {
ion-card {
  display: inline-block;
  position: relative;
  width: 250px;
  }
}

.image {

  height: 130px;
  width: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;

} // sets product image size and sets position as centered

ion-fab-button {
  height: 70px;
  width: 70px;
} // sets size of cart button

.cart-icon {
  font-size: 50px;
} //sets size of font within cart

