<ion-header>
  <ion-toolbar>
    <ion-title>Payment</ion-title>
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-segment [(ngModel)]="selectTabs">
      
  <ion-segment-button value="0">
    <ion-label> Products </ion-label>
  </ion-segment-button>
  
  <ion-segment-button value="1">
    <ion-label> Orders </ion-label>
  </ion-segment-button>

  <ion-segment-button value="2">
    <ion-label> User </ion-label>
  </ion-segment-button>

</ion-segment>

<div *ngIf="selectTabs == '0'">
<ion-grid>
  <ion-card color="secondary">
    <ion-card-header>
        <ion-card-title style="text-align: center;">Product List</ion-card-title>
        <ion-card-subtitle style="text-align: center;">171</ion-card-subtitle>
    </ion-card-header>
</ion-card>
</ion-grid>

<ion-card *ngFor="let p of products | async">
  <span>
  <ion-label>
    <ion-item>
      <ion-input>{{ p.name }}</ion-input>
    </ion-item>

    <ion-item>
      <ion-input>Price: {{ p.price }}</ion-input>
    </ion-item>
 </ion-label>

    <ion-button fill="solid" color="success" size="small" (click)="updateProducts(p)">
      Update
    </ion-button>
  </span>
 
    
</ion-card>


</div>

<div *ngIf="selectTabs == '1'">

</div>

<div *ngIf="selectTabs == '2'">

</div>

</ion-content>
