<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>

  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="logForm()">
   
    <ion-item>
      <ion-label>Name: </ion-label>

      <ion-input type= "text" [(ngModel)]="profile.name" name="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Phone: </ion-label>

      <ion-input type= "text" [(ngModel)]="profile.phone" name="description"></ion-input>
    </ion-item>

  <ion-footer>
    <ion-button color="danger" expand="block" type="submit">Create</ion-button>
  </ion-footer>
  </form>


</ion-content>
