<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>

  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-content>
  <form (ngSubmit)="logForm()">
   
    <br>
    <ion-item>
      <ion-label>Name: </ion-label>

      <ion-input type= "text" [(ngModel)]="profile.name" name="description"></ion-input>
    </ion-item>

  <br>
    <ion-item>
      <ion-label>Phone: </ion-label>

      <ion-input type= "text" [(ngModel)]="profile.phone" name="description"></ion-input>
    </ion-item>
  
    <ion-button color="danger" expand="block" type="submit">Create</ion-button>
  
  </form>

</ion-card-content>
</ion-card>


</ion-content>
