<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>

  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Info</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="profile.username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input [(ngModel)]="profile.phone"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <button ion-button clear block (click)="createProfile()"></button>

</ion-content>